/* Reset and Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #fcfaf2;
    color: #2e3b40;
}

h1, h2, p, a, li {
    text-decoration: none;
    font-weight: 500;
    color: #2e3b40;
}

.container a {
    color: #2e3b40;
}

.container a:hover {
    color: #fa980f;
}

/* Header Styles */
header {
    display: flex;
    background-color: #fcfaf2;
    color: #2e3b40;
    padding: 30px;
    text-align: left;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

a h1 {
    display: inline;
    margin-right: 20px;
    color: #2e3b40;
    font-weight: 500;
}

a h1:hover {
    color: #fa980f;
    transition: color 0.5s ease;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 10px;
    font-size: 1.05em;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #2e3b40;
    transition: color 0.3s ease;
}

nav a:hover {
    font-size: larger;
    border-radius: 5px;
    border: #fa980f solid 2px;
    transition: color 0.5s ease;
}

/* Main Content Styles */
main {
    background-color: #fcfaf2;
    color: #2e3b40;
    padding: 15px;
    text-align: left;
    margin-bottom: 10px;
    z-index: 100;
}

/* Landing Page Styles */
.landing-container {
    position: relative;
    height: 100vh;
    background: url("assets/images/document.png") center/cover no-repeat;
    opacity: 0.8;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.description-container {
    max-width: 600px;
    margin-bottom: 20px;
    background-color: #fcfaf2;
    border-radius: 15px;
}


/* CTA button styles */
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #e0e0e0;
    background-color: #2e3b40;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #fa980f;
}



.products-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.product {
    flex: 0 0 30%;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Section Styles */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #fcfaf2;
    padding: 40px 0;
    border-bottom: 1px solid #e0e0e0;
}

#landing .box {
    display: flex;
}

.my-image {
    width: 400px;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
    opacity: 0.8;
    max-width: 100%;
    margin-right: 20px;
    border-radius: 50px;
}

.text-content {
    padding-top: 25px;
    flex-grow: 1;
}

#landing h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    font-weight: 500;
}

/* Signup Section Styles */
.signup {
    max-width: 800px;
}

.signup h2 {
    font-size: 36px;
    font-weight: 500;
}

form {
    padding: 100px 100px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #2e3b40;
    color: #fcfaf2;
    display: block;
    padding: 10px 20px;
    border: 3px #2e3b40;
    border-radius: 5px;
}

button:hover {
    color: #fa980f;
    background-color: #fcfaf2;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #fcfaf2;
    color: #2e3b40;
    text-align: left;
    border: 7px #2e3b40;
}

/* Media Queries for Smaller Screens */
@media screen and (max-width: 800px) {
    body {
        padding-top: 50px;
        margin-top: 50px;
    }

    main {
        padding-top: 60px;
        margin-top: 25px;
    }

    #landing .box {
        flex-direction: column;
    }

    .my-image {
        margin-bottom: 10px;
    }
}



