/* Reset and Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #fcfaf2;
    color: #2e3b40;
}

h1, h2, p, a, li {
    text-decoration: none;
    font-weight: 500;
    color: #2e3b40;
}

.container a {
    color: #2e3b40;
}

.container a:hover {
    color: #fa980f;
}

/* Header Styles */
header {
    display: flex;
    background-color: #fcfaf2;
    color: #2e3b40;
    padding: 30px;
    text-align: left;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

a h1 {
    display: inline;
    margin-right: 20px;
    color: #2e3b40;
    font-weight: 500;
}

a h1:hover {
    color: #fa980f;
    transition: color 0.5s ease;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 10px;
    font-size: 1.05em;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #2e3b40;
    transition: color 0.3s ease;
}

nav a:hover {
    font-size: larger;
    border-radius: 5px;
    border: #fa980f solid 2px;
    transition: color 0.5s ease;
}

.floating-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}

/* Main Content Styles */

main {
    background-color: #fcfaf2;
    color: #2e3b40;
    padding: 15px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0px; /* Adjust this value as needed */
}


#myImage {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    opacity: 0.5;
  
}

.styled-image {
    opacity: 0.5;
}
.description-container {
    position: absolute;
    z-index: 2;
    max-width: 600px;
    margin: auto;
    background-color: #fcfaf2;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust the width as needed */
}


/* CTA button styles */
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #e0e0e0;
    background-color: #2e3b40;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #fa980f;
    color: #2e3b40;
}



.products-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.product {
    flex: 0 0 30%;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Section Styles */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #fcfaf2;
    padding: 40px 0;
    border-bottom: 1px solid #e0e0e0;
}

#landing .box {
    display: flex;
}

.my-image {
    width: 400px;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
    opacity: 0.8;
    max-width: 100%;
    margin-right: 20px;
    border-radius: 50px;
}

.text-content {
    padding-top: 25px;
    flex-grow: 1;
}

#landing h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    font-weight: 500;
}

/* Signup Section Styles */
.signup {
    max-width: 800px;
}

.signup h2 {
    font-size: 36px;
    font-weight: 500;
}

/* Form Styles */

form {
    width: 100%; /* Ensure the form takes full width */
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    background-color: #fcfaf2;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%; /* Make the input fields take full width */
    padding: 10px;
    margin-bottom: 15px;
    border: 0.3px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

form button {
    background-color: #2e3b40;
    color: #fcfaf2;
    display: block;
    padding: 10px 20px;
    border: 3px solid #2e3b40;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

form button:hover {
    background-color: #fa980f;
    color: #2e3b40;
}

.button {
   display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #e0e0e0;
    background-color: #2e3b40;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
     background-color: #fa980f;
    color: #2e3b40;
}
/* Footer Styles */
footer {
    background-color: #fcfaf2;
    color: #2e3b40;
    text-align: left;
}

/* Media Queries for Smaller Screens */

@media screen and (max-width: 1100px) {
.floating-container {
    display: none;
}
}
@media screen and (max-width: 800px) {
    body {
        padding-top: 50px;
        margin-top: 50px;
    }

    main {
        padding-top: 60px;
        margin-top: 25px;
    }

    header {
        z-index: 1;
        padding: 15px;
        text-align: center;
    }

    header a h1 {
        margin-right: 0;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    #myImage {
        height: auto;
        max-width: 100%;
    }

    .description-container {
        width: 100%;
        top: 50%;
    }

    .products-container {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 100%;
        margin-bottom: 30px;
    }

    .signup {
        width: 100%;
    }

    form {
        padding: 15px;
    }

    form input[type="text"],
    form input[type="email"],
    form textarea {
        margin-bottom: 10px;
    }
}
