/* Global Styles */
h1,
h2,
p,
a,
li {
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 30px;
    background-color: #f0eee9;
    color: #333;
}

header, main {
    background-color: #f0eee9;
    color: #333;
    padding: 15px;
    text-align: left;
    border: 7px #333;
    margin-bottom: 10px;
}

a h1 {
    display: inline;
    margin-right: 20px;
    color: #333;
}
a h1:hover {
    color: ##d4812f;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

nav a:hover {
    color: ##d4812f; 
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #f0eee9;
    padding: 40px 0;
    border-bottom: 1px solid #e0e0e0;
}

footer {
    text-align: center;
    background-color: #f0eee9;
    color: #333;
    text-align: left;
    border: 7px #333;
}

